<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andro.ijang.basades">
    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoaplikasi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoaplikasi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Screen" />
        <activity android:name=".Create_Account" />
        <activity android:name=".HomeActivity_Screen"
            android:screenOrientation="userPortrait"></activity>
        <activity android:name=".Activity_Chatroom"
            android:screenOrientation="userPortrait"></activity>
        <activity android:name=".Activity_Listrik"
            android:screenOrientation="userPortrait"></activity>
        <activity android:name=".Activity_Money"
            android:screenOrientation="userPortrait"></activity>
        <activity android:name=".Activity_Voucherinternet"
            android:screenOrientation="userPortrait"></activity>
    </application>

</manifest>